body {
    margin:0px;
    padding:0px;
    height: auto;
}

.social {
    width: 58px;
    height: 230px;
    background-color: #986C43;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin:auto;
    padding:5px 0px;
}

.social ul {
    padding:0px;
    margin:0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.social ul a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

header {
    background-color: #364037;
    height: 110px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header a {
    text-decoration: none;
}

header nav {
    width: 97%;
    height: 100%;
    max-width: 980px;
    margin:auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand,ul {
    display: flex;
}

header ul {
    list-style: none;
}

header ul li {
    margin:0px 15px;
}

header h1,h2 {
    margin: 0px;
    color: #f4dec9;
}

header h1{
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 700;
}

header h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

header .brand article {
    margin-left:10px;
    margin-top: -5px;
}

header ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 400;
    transition: 400ms;
}

header ul li a:hover {
    color: #f4dec9;
}

.banner-area {
    background-image: url('https://static.wixstatic.com/media/375882_9f1a8e8b364946f38b7eb05436e76503f000.jpg/v1/fill/w_1903,h_891,al_c,q_85,usm_0.33_1.00_0.00/375882_9f1a8e8b364946f38b7eb05436e76503f000.webp');
    height: 891px;
    background-size: cover;
}

.banner-area article {
    width: 97%;
    max-width: 980px;
    margin:auto;
    padding-top: 110px;
    position: relative;
    height: 100%;
}

.featured-post {
    width: 100%;
    height: 400px;
    background-color: #364037;
    position: absolute;
    bottom: 0px;
}

.banner-area article .welcome-card {
    width: 209px;
    height: 252px;
    background-color: #986C43;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-area article .welcome-card img {
    border-radius: 50%;
    margin-top: 20px;
}

.banner-area .title {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color:#fff;
    margin-top:8px;
}


.banner-area .desc {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color:#fff;
    margin-top: 3px;
}
.featured-post h1 {
    text-align: left;
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color:#fff;
    margin-left: 30px;
}
.featured-post section {
    width: 90%;
    display: flex;
    justify-content: center;
}
.featured-post .left {
    width: 48%;
    height: auto;
    margin-left: 30px;

}
.featured-post .left img {
    width:420px;
    height: 90%;
    object-fit: cover;
}
.featured-post .right {
    float: right;
    width: 45%;
    height: auto;
    margin-left: 40px;
    margin-top: 20px;
}
.featured-post .right h2 {
    text-align: left;
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color:rgb(206, 206, 206);
    margin-top: 40px;
}
.featured-post .right p {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color:rgb(206, 206, 206);
}
.featured-post .right span {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color:rgb(206, 206, 206);
}
.featured-post .right a {
    text-decoration: none;
}
.featured-post .right .comment {
    border-top: 1px solid grey;
    margin-top: 60px;
}
.featured-post .right .comment p {
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color:rgb(206, 206, 206);
}
.recent-posts h1 {
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color:rgba(3, 3, 3, 0.733);
    margin-top: 13%;
    margin-left: 14%;
}
.post-card {
    width: 73%;
    height: auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-left: 14%;
}
.post-card .card {
    width: 290px;
    height: 324px;
    border: 1px solid rgba(190, 190, 190, 0.575);
    list-style: none;
    
}
.post-card a{
    text-decoration: none;
}
.post-card .card h1 {
    text-align: left;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color:rgba(3, 3, 3, 0.733);
    margin: 30px 30px;
}
.post-card .card p {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color:rgba(59, 59, 59, 0.466);
    margin: 0px 30px;
}
.post-card .card .message-icon {
    border-top: 1px solid rgba(172, 170, 170, 0.507);
    font-size: 15px;
    color:rgba(43, 42, 42, 0.733);
    margin:auto 30px;
    width: 80%;
    
}
.post-card .card .message-icon i{
    margin-top: 10px;
    margin-left: 10px;
}
.post-card .card {
    margin-top: 20px;
}
.post-card .card img {
    width: 100%;
    height: 164px;
    object-fit: cover;
}
.info {
    background-color: #986C43;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.info div h1 {
    text-align: center;
    font-size: 55px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #f4de9c;
}
.info div span {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: white;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-top: 40px;
    width: 90%;
}

.hover-card {
    width: 256px;
    height: 257px;
    margin: 20px;
    position: relative;
    
}

.hover-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hover-card .hover-text {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(0,0,0,.4);
    opacity: 0;
    transition: 1s;
}

.hover-card .hover-text:hover {
    opacity: 1;
}

.hover-card .hover-text  p {
    width: 80%;
    text-align: center;
    color: white;
    line-height: 30px;
}
.button {
    width:120px;
    height: 48px;
    background-color: rgba(43, 42, 42, 0.733);
    margin: 20px auto;
}
.button button{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgba(43, 42, 42, 0.733);
}
.button button a {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    text-align: center;
}
.button:hover{
    background-color: transparent;
}
footer{
    width: 100%;
    height: 400px;
    background-color: #364037 ;
}

footer .footer-area{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding-top: 40px;
}
footer a{
    text-decoration: none;
}
footer .brand {
    display: flex;
   
}
footer h1,h2 {
    margin: 0px;
    color: #f4dec9;
}

footer h1{
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 700;
}

footer h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

footer .brand article {
    margin-left:10px;
    margin-top: -5px;
}
footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 40px;
    padding: 0px;
}
footer ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color:#c7cfc8;
    font-weight: 500;
}
footer .right {
    width: 370px;
    height: auto;
}
footer .right h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    display: block;
}
footer .right input{
    width: 360px;
    height: 50px;
    display: block;
    margin-top: 40px;
    
}
footer .right input:hover{
    border: 3px solid rgba(252, 144, 22, 0.521);
}
footer .right button{
    width: 130px;
    height: 50px;
    display: block;
    margin-top: 40px;

}
footer .right button:hover{
    background-color: #986C43;
}

footer .right button a{
font-size: 18px;
font-family: 'Raleway', sans-serif;
font-weight: 400;
text-decoration: none;
color:#364037;
text-align: center;
}
footer p {
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color:#364037;
    margin-top: 50px;
}